<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Muzkev Boarding Facilities | Coming Soon</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="CSS/Shoestrapbymuzi.css">
</head>
<body>


<div class="menu-icon">
	<span class="menu-icon__line menu-icon__line-left"></span>
	<span class="menu-icon__line"></span>
	<span class="menu-icon__line menu-icon__line-right"></span>
</div>

<div class="nav">
	<div class="nav__content">
		<ul class="nav__list">
			<li class="nav__list-item">Home</li>
			<li class="nav__list-item"><a href="/about">About</a></li>
			<li class="nav__list-item">Portal</li>
			<li class="nav__list-item">Contact</li>
		</ul>
	</div>
</div>

<div class="site-content">

<div class="col-md-10 col-sm-4 col-xs-4 ">
  <div class="container">
    <div class="row justify-content-center">
            <div class="col-12 col-md-10">
                <h4 class="text-center color-light">Portal Launches in:</h4>
                <div class="countdown"><div>00 <span>Weeks</span></div>  <div>00 <span>Days</span></div>  <div>00<span>Hours</span></div> <div>00<span>Minutes</span></div> <div>00<span>Seconds</span></div></div>
            </div>
        </div>
   </div>
</div>
</div>



<div class="carousel">
  <div class="progress-bar progress-bar--primary hide-on-desktop">
    <div class="progress-bar__fill"></div>
  </div>

<header class="main-post-wrapper">
  
  <div class="slides">
    <article class="main-post main-post--active">
     <div class="col-lg-12 sections_title text-center pt-4">
      <h1 class="text-white">MBF News Feed</h1>
     </div>
      <div class="main-post__content">
        <div class="main-post__tag-wrapper">
          <span class="main-post__tag">Frequently asked questions:</span>
        </div>
        <h1 class="main-post__title">Are there any safety measures put in place for our children?</h1>
        <a class="main-post__link" href="#">
              <span class="main-post__link-text">See more questions</span>
              <svg
                class="main-post__link-icon main-post__link-icon--arrow"
                width="37"
                height="12"
                viewBox="0 0 37 12"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M0 6H36.0001M36.0001 6L31.0001 1M36.0001 6L31.0001 11"
                  stroke="white"
                />
              </svg>
            </a>
      </div>
    </article>
    <article class="main-post main-post--not-active">
       <div class="col-lg-12 sections_title text-center pt-4">
      <h1 class="text-white">MBF News Feed</h1>
     </div>
      <div class="main-post__content">
        <div class="main-post__tag-wrapper">
          <span class="main-post__tag">Updates/Developments:</span>
        </div>
        <h1 class="main-post__title">New residency rooms are now under construction, you may book/secure your child's future stay with us <a class="" href="#">here</a></h1>
        <a class="main-post__link" href="#">
              <svg
                class="main-post__link-icon main-post__link-icon--play-btn"
                width="30"
                height="30"
                viewBox="0 0 20 20"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <circle
                  cx="10"
                  cy="10"
                  r="9"
                  stroke="#C20000"
                  stroke-width="2"
                />
                <path d="M14 10L8 6V14L14 10Z" fill="white" />
              </svg>
              <span class="main-post__link-text">View progress</span>
            </a>
      </div>
    </article>
    <article class="main-post main-post--not-active">
      <div class="col-lg-12 sections_title text-center pt-4">
      <h1 class="text-white">MBF News Feed</h1>
     </div>
      <div class="main-post__content">
        <div class="main-post__tag-wrapper">
          <span class="main-post__tag">Events</span>
        </div>
        <h1 class="main-post__title">All events have been brought to a hault due to the ongoing pandemic. 
        </h1>
        <a class="main-post__link" href="#">
              <span class="main-post__link-text">Subscribe to be notified of any future events</span>
              <svg
                class="main-post__link-icon main-post__link-icon--arrow"
                width="37"
                height="12"
                viewBox="0 0 37 12"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M0 6H36.0001M36.0001 6L31.0001 1M36.0001 6L31.0001 11"
                  stroke="white"
                />
              </svg>
            </a>
      </div>
    </article>
  </div>
</header>

<div class="posts-wrapper hide-on-mobile">
  <article class="post post--active ">
    <div class="progress-bar progress-bar">
      <div class="progress-bar__fill"></div>
    </div>
    <header class="post__header">
      <span class="post__tag cl-mzkv">FAQs</span>
      <p class="post__published">DATE</p>
    </header>
    <h2 class="post__title">What safety measures are there for the sake of our children</h2>
  </article>
  <article class="post">
    <div class="progress-bar">
      <div class="progress-bar__fill"></div>
    </div>
    <header class="post__header">
      <span class="post__tag cl-mzkv">Updates</span>
      <p class="post__published">Date</p>
    </header>
    <h2 class="post__title">New rooms availbale in 2021</h2>
  </article>
  <article class="post">
    <div class="progress-bar">
      <div class="progress-bar__fill"></div>
    </div>
    <header class="post__header">
      <span class="post__tag cl-mzkv">Events</span>
      <p class="post__published">DATE</p>
    </header>
    <h2 class="post__title">
		Holiday trips postponed until further notice
    </h2>
  </article>
  
</div>
</div>

<section class="pt-5">
            <div class="container">
                <div class="table-responsive-lg">
                    <table class="table table-striped pricing-table">
                        <thead>
                            <tr>
                                <th class="border-0 pb-5 h3 plan-content-title"> Packages</th>
                                <th class="text-center border-0 pb-5">
                                    <h6 class="lead font-weight-bold pricing-plan-title">Transport Only</h6>
                                    <p class="font-weight-bold pricing-plan-amount">R <span class="h1">400</span></p>
                                    <p class="small ">Per child, per month</p>
                                    <button class="btn btn-block btn-outline-primary btn-rounded">I want <span class="d-none d-md-inline">this</span></button>
                                </th>
                                <th class="text-center border-0 pb-5">
                                    <h6 class="lead font-weight-bold pricing-plan-title">After care</h6>
                                    <p class="font-weight-bold pricing-plan-amount">R <span class="h1">660</span></p>
                                    <p class="small pricing-plan-allotment">Per child, per month</p>
                                    <button class="btn btn-block btn-outline-primary btn-rounded">I want <span class="d-none d-md-inline">this</span></button>
                                </th>
                                <th class="text-center border-0 pb-5">
                                    <h6 class="lead font-weight-bold pricing-plan-title">Accommodation</h6>
                                    <p class="font-weight-bold pricing-plan-amount">R <span class="h1">3000</span></p>
                                    <p class="small pricing-plan-allotment">Per child, per month</p>
                                    <button class="btn btn-block btn-outline-primary btn-rounded">I want <span class="d-none d-md-inline">this</span></button>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td scope="row" class="border-0">Registration</td>
                                <td class="border-0 text-center">
                                    <span class="icon icon-rounded icon-success"><i class="fa fa-check" aria-hidden="true"></i></span>
                                </td>
                                <td class="border-0 text-center"><span class="icon icon-rounded icon-success"><i class="fa fa-times" aria-hidden="true"></i></span></td>
                                <td class="border-0 text-center"><span class="icon icon-rounded icon-success"><i class="fa fa-times" aria-hidden="true"></i></span></td>
                            </tr>
                            <tr>
                                <td scope="row">To and From school</td>
                                <td class="text-center">
                                    <span class="icon icon-rounded icon-success"><i class="fa fa-check" aria-hidden="true"></i></span>
                                </td>
                                <td class="text-center"><span class="icon icon-rounded icon-success"><i class="fa fa-check" aria-hidden="true"></i></span></td>
                                <td class="text-center"><span class="icon icon-rounded icon-success"><i class="fa fa-check" aria-hidden="true"></i></span></td>
                            </tr>
                            <tr>
                                <td scope="row">Food</td>
                                <td class="text-center">
                                    <span class="icon icon-rounded icon-success"><i class="fa fa-times" aria-hidden="true"></i></span>
                                </td>
                                <td class="text-center">
                                    <span class="icon icon-rounded icon-success">Optional</span>
                                </td>
                                <td class="text-center">
                                    <span class="icon icon-rounded icon-success"><i class="fa fa-check" aria-hidden="true"></i></span>
                                </td>
                            </tr>
                            <tr>
                                <td scope="row">Portal Privileges</td>
                                <td class="text-center">
                                    <span class="icon icon-rounded icon-danger"><i class="fa fa-times" aria-hidden="true"></i></span>
                                </td>
                                <td class="text-center">
                                    <span class="icon icon-rounded icon-success">Optional</span>
                                </td>
                                <td class="text-center">
                                    <span class="icon icon-rounded icon-success">Optional</span>
                                </td>
                            </tr>
                            <tr>
                                <td scope="row">Homework</td>
                                <td class="text-center">
                                    <span class="icon icon-rounded icon-danger"><i class="fa fa-times" aria-hidden="true"></i></span>
                                </td>
                                <td class="text-center">

                                    <span class="icon icon-rounded icon-danger"><i class="fa fa-check" aria-hidden="true"></i></span>
                                </td>
                                <td class="text-center">
                                    <span class="icon icon-rounded icon-success"><i class="fa fa-check" aria-hidden="true"></i></span>
                                </td>
                            </tr>
                            <tr>
                                <td scope="row" class="border-bottom">Residency</td>
                                <td class="text-center border-bottom">
                                    <span class="icon icon-rounded icon-danger"><i class="fa fa-times" aria-hidden="true"></i></span>
                                </td>
                                <td class="text-center border-bottom">

                                    <span class="icon icon-rounded icon-danger"><i class="fa fa-times" aria-hidden="true"></i></span>
                                </td>
                                <td class="text-center border-bottom">
                                    <span class="icon icon-rounded icon-success"><i class="fa fa-check" aria-hidden="true"></i></span>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </section>





<script src="https://kit.fontawesome.com/ba33ab971e.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js" integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf" crossorigin="anonymous"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script src="JS/server.js" type="text/javascript"></script>
<script src="JS/jquery.countdown.min.js" type="text/javascript"></script>
<script src="JS/jquery.counterup.min.js" type="text/javascript"></script>
</body>
</html>